

<div class="my">

    <div class="top">
        
          <div class="left">
            <h1>请登录</h1>
            <a href="##">轻轻的，你登录了吗</a>
          </div>
        
          <div class="right">
            <p (click)="gologin()"></p>
          </div>
        
     </div>
      
  <div class="center">
        
          <div class="left">
            <span><i class="iconfont icon-qizi"></i></span>
            <p>个人微店</p>
          </div>
        
          <div class="right">
              <span><i class="iconfont icon-zhanghuyue"></i></span>
              <p>账户余额</p>
           </div>
        </div>
        <div class="bottom">
        
        <ul>
          <li>
            <span>我的已购</span>
            <span><i class="iconfont icon-arrow-right"></i></span>
          </li>
          <li>
              <span>我的购物车</span>
              <span><i class="iconfont icon-arrow-right"></i></span>
          </li>
          <li>
              <span>我的关注</span>
              <span><i class="iconfont icon-arrow-right"></i></span>
          </li>
          <li>
              <span>我的评论</span>
              <span><i class="iconfont icon-arrow-right"></i></span>
          </li>
          <li>
              <span>我的点赞</span>
              <span><i class="iconfont icon-arrow-right"></i></span>
          </li>
        
          <li>
              <span>设置</span>
              <span><i class="iconfont icon-arrow-right"></i></span>
          </li>
        </ul>
        
        </div>
        

</div>
