<div class="finddetail">


  <div class="tops">
    <h1>{{rmdetail.resourceName}}</h1>
    <h3>{{rmdetail.subTitle}}</h3>
    <img src="{{rmdetail?.smallCoverImage}}" alt=""/>
  </div>


  <div class="content">
    <div class="left">
        <span><img src="" alt=""></span>
        <span><img src="" alt=""></span>
        <span><img src="" alt=""></span>
        <span><img src="" alt=""></span>
        

    </div>
    <div class="right">
      <span>1</span>
      <span>已购买</span>
    </div>
    

  </div>
  <div class="content1">
       <div class="left">
         <span><img src="{{rmdetail?.publisher.displayImage}}" alt=""></span>
         <span>{{rmdetail.publisher.storeName}}</span>
       </div>

       <div class="right">
         <span>葫芦微店</span>
         <i class="iconfont icon-arrow-right"></i>
       </div>
  </div>

  <div class="content2">

    <div class="left">
      <i class="iconfont icon-tuiguang"></i>
      <span>推广商品</span>
    </div>

    <div class="center">
        <i class="iconfont icon-shangjia"></i>
        <span>上架到微店</span>
      </div>

    <div class="right">
      <a href="">立即订阅（{{rmdetail.price}}元）</a>
    </div>

  </div>

  <div class="content3">
    <div class="top">免费试读</div>
    <div class="bottom">

      <div class="left">
          <span>1</span>
          <span>试读</span>

      </div>
     
      <div class="center">
         <h2>诗家叶嘉莹：如朗月照人</h2>
         <p>坚持站着讲课 身着紫色开襟长衫套装哈哈哈</p>
      </div>
      <div class="right">
        <span>2017-10-27</span>
      </div>


    </div>
  </div>


  <div class="content4">

    <div class="top">
      全部文章
    </div>

    <ul>
      <li>

          <div class="left">
              <span>1</span>
              <span>试读</span>
          </div>
          <div class="center">
             <h2>诗家叶嘉莹：如朗月照人</h2>
             <p>坚持站着讲课 身着紫色开襟长衫套装哈哈哈</p>
          </div>
          <div class="right">
            <span>2017-10-27</span>
          </div>

      </li>
      <li>
            <div class="left">
                <span>2</span>
                <span>试读</span>
            </div>
            <div class="center">
                <h2>诗家叶嘉莹：如朗月照人</h2>
                <p>坚持站着讲课 身着紫色开襟长衫套装哈哈哈</p>
            </div>
            <div class="right">
              <span>2017-10-27</span>
            </div>
  
        </li>
    </ul>

  </div>

  <div class="content5" innerHTML="{{rmdetail.intro}}">
   
  </div>

 

</div>

<div class="head" >
    <span><i class="iconfont icon-icon1" (click)="gobacks()"></i></span>
  </div>
