<div class="login">
  <header><i class="iconfont icon-icon1" (click)="goback()"></i></header>
  <section>
    <h1>登录葫芦时刻</h1>
    <form [formGroup]="formModel" novalidate>
      <div>
        <input type="text" formControlName="mobile" placeholder="手机号">
      </div>
        
        <div>
          <input type="password" formControlName="password" placeholder="密码">
        </div>
    </form>
      <button class="submit" (click)="onSubmit()" [disabled]="!(formModel.get('mobile').valid&&formModel.get('password').valid&&formModel.get('mobile').touched)" [class.red]="formModel.get('mobile').valid&&formModel.get('password').valid&&formModel.get('mobile').touched">登录</button>
      <p>忘记密码</p>
  </section>
</div>